#btnEntrar {
  -fx-background-color: #E15959;
  -fx-font-weight: bold;
  -fx-opacity: 1;
  -fx-background-radius: 60px;
  -fx-font-family: "Quicksand";
}

#btnEntrar:hover {
  -fx-background-color: #B63C3C;
}

#btnEntrar:pressed {
  -fx-background-color: #E15959;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
}

.button{
  -fx-background-color: #322073;
  -fx-font-weight: bold;
  -fx-opacity: 1;
  -fx-background-radius: 60px;
  -fx-font-family: "Quicksand";
}

.button:hover {
  -fx-background-color: #5E4D85; 
}

.button:pressed {
  -fx-background-color: #322073;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
}

.label{
  -fx-text-fill: #322073;
  -fx-font-weight: bold;
  -fx-font-family: "Quicksand";
}

#labelStatus{
  -fx-text-fill: #FF0000;
  -fx-font-weight: bold;
  -fx-font-family: "Quicksand";
}

.text-field{
  -fx-font-weight: bold;
  -fx-background-color: #7756A6;
  -fx-background-radius: 60px;
  -fx-font-size: 12px;
  -fx-text-fill: #FAF9F6;
  -fx-font-family: "Quicksand";
}

.text-field:focused {
  -fx-border-radius: 60px;
  -fx-border-color: #322073;
  -fx-background-color: #AA9ACF;
}

#campoEmailLogin{
  -fx-font-weight: bold;
  -fx-background-color: #E15959;
  -fx-background-radius: 60px;
  -fx-font-size: 12px;
  -fx-text-fill: #FAF9F6;
  -fx-font-family: "Quicksand";
}

#campoSenhaLogin{
  -fx-font-weight: bold;
  -fx-background-color: #E15959;
  -fx-background-radius: 60px;
  -fx-font-size: 12px;
  -fx-text-fill: #FAF9F6;
  -fx-font-family: "Quicksand";
}

.radio-button {
  -fx-font-family: "Quicksand";
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #322073;
}

.radio-button .radio {
  -fx-background-color: #AA9ACF;
  -fx-border-color: #322073;
  -fx-border-width: 1px;
  -fx-border-radius: 50%;
  -fx-padding: 5px;
}

.radio-button:selected .radio {
  -fx-background-color: #AA9ACF;
  -fx-border-color: #322073; 
}

.radio-button:selected .dot {
  -fx-background-color: #322073;
  -fx-padding: 4px;
  -fx-background-radius: 50%;
}

#AnchorPaneConfirmacao{
  -fx-background-color:#FFE5D1;
  -fx-border-color : #322073;
  -fx-border-width: 5px;
  -fx-border-radius: 50px;
  -fx-background-radius: 60px;
  -fx-padding: 10px; /* Define o preenchimento interno */
    -fx-margin: 10px;
}